/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
}

.portfolio-item {
    margin-bottom: 25px;
}

#by-nc-sa-img {
	float: right;
	vertical-align: middle;
}

p {
	text-align: justify;
}
p, h1, h2, h3 {
	padding: 5px;
}

#grafika {
	text-align:center;
}



.lege-oharrak {
    max-width: 730px;
}
